---
width: calc(100vw - 2em);
height: calc(100vh - 2em);
---

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="//redhatbrand.github.io/RedHatTemplates/global-assets/stylesheets/general/tile-pattern-fill.css">
    <link rel="stylesheet" href="<%=baseUrl%>/templates/generic-resizeable-web/assets/stylesheets/main.css" />
  </head>
  <body style="width: {{ width }}vw; height: {{ height }}vh">
    <div id="artwork"></div>
    <main>
      <div id="content">
        <% include ../../shared/event-logo-lockup.svg %>
      </div>
    </main>

    <script src="<%=baseUrl%>/templates/generic-resizeable-web/assets/javascripts/artwork.js"></script>
    <script src="//redhatbrand.github.io/RedHatTemplates/global-assets/javascripts/tile-pattern.js"></script>
  </body>
</html>
