---
width: 101.6mm;
height: 152.4mm;
---

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="//redhatbrand.github.io/RedHatTemplates/global-assets/stylesheets/general/tile-pattern-fill.css">
    <link rel="stylesheet" href="<%=baseUrl%>/shared/stylesheets/main.css" />
    <link rel="stylesheet" href="<%=baseUrl%>/templates/speaker/lanyard/assets/main.css" />
  </head> 
  <body style="width: {{ width }}mm; height: {{ height }}mm">
    <div id="artwork"></div>
    <main>
      <div id="content">
        <div class="brand sko"><% include ../../../shared/images/event-logo-lockup.svg %></div>
        <article>
          <h1>{{{ name }}}</h1>  
          <h3>{{{ position }}}</h3>  
          <h2>{{{ company }}}</h2>  
        </article>
      </div>
    </main>

    <script src="<%=baseUrl%>/shared/javascripts/artwork.js"></script>
    <script src="//redhatbrand.github.io/RedHatPatterns/red-hat-patterns.js"></script>
  </body>
</html>