@import '//red-hat-overpass-fonts.s3.amazonaws.com/overpass.css';

@import '../../../node_modules/red-hat-brand-typography/scss/red-hat-typography';
@import '../../../node_modules/red-hat-brand-palette/scss/red-hat-palette';

@import 'corner-shapes';
@import 'logo-animations';
@import 'artwork';
@import 'colors';

body {
  margin: 0;
  background-size: cover;
  position: relative;
  overflow: hidden;
  color: #444;
}

// Base Styles

main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  overflow: hidden;
}

#content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 80%;
  z-index: 20;
}

.headline {
  border-top-width: 0;
  padding-top: 0.5em;
  position: relative;
  margin-left: -0.05em;
  padding-right: 1.5em;
  line-height: 1.125em;

  &:before {
    content: '';
    position: absolute;
    left: 0.05em;
    right: 0;
    top: 0;
    border-top: 0.2em solid;
  }
}

svg {
  display: block;
  width: 100%;
  height: 100%;
}

.sko-logo {
  .logotext, .location {
    fill: #444 !important;
  }
}

// Containers

@mixin half ($pad: 2em) {
  @if $pad != 'no-pad' {
    padding: $pad;
  }
  width: 50%;
  box-sizing: border-box;
  margin: 0;
}

.one-half {
  @include half;
}

.container_one-logo {
  width: 50%;
}

.container_two-logos {
  width: 75%;

  [class*="-logo-container"] {
    @extend .one-half;
    padding: 5%;
    float: left;
  }
}

.container_headline-and-event-logo {
  width: 75%;

  .event-logo-container,
  .headline-container {
    @extend .one-half;
  }

  .event-logo-container {
    float: right;
  }
}

.container_fy16-and-headline-and-event-logo {
  width: 75%;

  .event-logo-container,
  .headline-container {
    @extend .one-half;
    padding: 7.5%;
    float: left;
  }

  .fy16 {
    font-weight: 700;
    line-height: 0.8em;
    margin-left: -0.08em;
    margin-bottom: 0;

    letter-spacing: -0.025em;
  }

  .headline {
    margin-top: 0.3em;
  }

  .sko-logo text,
  .sko-logo tspan,
  .sko-logo .logomark path {
    fill: #444 !important;
  }
}

.full-height {
  .artwork-shape {
    top: 0 !important;
    bottom: 0 !important;
    height: 100% !important;
    transform: translate3d(-100%, 0, 0) skewX(-45deg) !important;
  }
}

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

.data-lining {
  @extend .clearfix;
}

.data-lining .line {
  float: left;
  clear: both;
  padding: 0.1em 0.15em 0.05em;
  background-color: $color-rh-white;
  color: lighten($color-rh-black, 20%);
  margin: 0;
}

// Respond

@media all and (orientation: portrait) {
  #content, #content[class*=container_] { width: 50% }

  .one-half {
    width: initial;
    float: none;
  }

  .corner-shapes-bottom-right {
    width: 80%;
  }
}

@media all and (min-aspect-ratio: 3/1) {
  #content {
    width: 50%;
  }
}

@media all and (min-aspect-ratio: 4/1) {
  #content {
    width: 40%;
    transform: translate(0, -50%);
    left: 5%;
  }

  #content.container_fy16-and-headline-and-event-logo {
    width: 60%;

    .headline-container {
      width: 33.333%;
    }

    .event-logo-container {
      width: 66.667%;
    }
  }
}

@media all and (min-aspect-ratio: 5/1) {
  #content { left: 0; }

  #content.container_fy16-and-headline-and-event-logo {
    width: 60%;

    .headline-container {
      width: 66.667%;

      .fy16, .headline {
        @include half('no-pad');
        float: left;
      }

      .fy16 {
        padding-right: 4rem;
      }
    }

    .event-logo-container {
      width: 33.333%;
    }
  }
}

