@import '//red-hat-overpass-fonts.s3.amazonaws.com/overpass.css';

@import '../../../node_modules/red-hat-brand-typography/scss/red-hat-typography';
@import '../../../node_modules/red-hat-brand-palette/scss/red-hat-palette';

@keyframes skew-shape-in {
  0% {
    transform: translate3d(-100%,-50%,0) skewX(-45deg);
  }
  100% {
    transform: translate3d(-50%,-50%,0) skewX(-45deg);
  }
}

@keyframes rotate-shape-in {
  0% {
    transform: translate3d(-100%,-50%,0) rotate(45deg);
  }
  100% {
    transform: translate3d(-50%,-50%,0) rotate(45deg);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

body {
  margin: 0;
  background-color: lighten($color-rh-slate, 20%);
  background-size: cover;
  position: relative;
  overflow: hidden;
  color: #444;
}

#artwork {
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  overflow: hidden;
  margin: 0;
  background-image: radial-gradient(ellipse at 50% 50%, rgba($color-rh-white, 0.75) 0%, rgba($color-rh-white, 0.75) 50%, rgba($color-rh-white, 0.0001) 100%);

  .artwork-inner {
    position: relative;

    &:before {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
  }

  * { margin: 0; }

  .artwork-shape {
    background-color: $color-rh-slate;
    position: absolute;
    top: 50%;
    transform-origin: 50% 50%;
    transform: translate3d(-100%,-50%,0) skewX(-45deg);
    margin: 0;
  }

  .skew-animate-in {
    transform: translate3d(-50%,-50%,0) skewX(-45deg);
    animation-name: skew-shape-in;
    animation-timing-function: ease;
  }

  .rotate-animate-in {
    transform: translate3d(-50%,-50%,0) rotate(-45deg);
    animation-name: rotate-shape-in;
    animation-timing-function: ease;
  }

  .artwork-pattern {
    position: absolute;
    left: 10%;
    top: 10%;
    transform-origin: 50% 50%;
    transform: translate(-50%,-50%) rotate(45deg);
    height: 150%;
    width: 7%;

    svg {
      position: absolute;
      width: 100%;
      height: 100%;
      stroke: lighten($color-rh-slate, 22.5%);
      stroke-width: 0.5;
    }
  }
}

.tile-pattern-tile {
  width: 100%;
  position: relative;

  &:before {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}

.overlay {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  margin: 0;
}

.logo {
  position: relative;
  z-index: 20;
}


// Themes

.red {
  .overlay {
    display: block;
    background-color: #d00;
    -webkit-blend-mode: multiply;
    mix-blend-mode: multiply;
  }

  .logotext, .logotype,
  h1, h2, h3, text, p, tspan {
    color: #fff;
    fill: #fff !important;
  }
}

.silver {
  .overlay {
    display: block;
    background-color: #fff;
    opacity: .5;
  }
}

.full-height {
  .artwork-shape {
    top: 0 !important;
    bottom: 0 !important;
    height: 200% !important;
  }
}


main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  overflow: hidden;
  background-image: radial-gradient(ellipse at 50% 50%, rgba($color-rh-white, 0.75) 0%, rgba($color-rh-white, 0.0001) 100%);
}


#content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 50%;
  transform: translate(-50%,-50%);
  max-width: 80%;
  z-index: 20;

  &.middle-large { top: 50%; }

  &.fy16-container {
    .headline h1 { border-top-width: .15em; }

    .fy16 {
      font-weight: 700;
      letter-spacing: 0em;
      line-height: 0.8em;
      margin-bottom: 1.25rem;
      margin-left: -0.03em;
    }

    .sko-logo text,
    .sko-logo tspan,
    .sko-logo .logomark path {
        fill: #444 !important;
    }
  }
}

.sko-logo {
  width: 100%;
  height: 100%;
}

.sko-logo-center {
  width: 120%;
  margin-left: -10%;
}

.rh-logo {
  z-index: 20;
  margin: 0;
}

.redhat-logo {
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 20;
}

.top-left-logo {
  position: absolute;
  z-index: 10;
  top: 5%;
  left: 5%;
  max-width: 15%;
  min-width: 10%;
}

.headline {
  h1 {
    border-top: .1em solid;
    padding-top: .5em;
    line-height: 1em;
  }
}

.logotext {
  fill: lighten($color-rh-black, 20%);
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.data-lining {
  @extend .clearfix;
}

.data-lining .line {
  float: left;
  clear: both;
  padding: 0.1em 0.15em 0.05em;
  background-color: $color-rh-white;
  color: lighten($color-rh-black, 20%);
  margin: 0;
}

.complex-logo {
  transition: all .5s ease;

  &.line-icon {
    transition-delay:2s;

    path {
      transition: all 1s ease .52s;
      stroke-dasharray:100 ,10;
      animation: ani-line-icon 2s ease  alternate;
    }

  }

  .event-name {
    transition-delay:1s;
    animation: ani-event-name 2s ease  alternate;
  }

  .logomark {
    animation: ani-logomark 2s ease  alternate;
  }

  .location {
    transition-delay:1.4s;
    animation: ani-location 2s ease  alternate;
  }
}

@keyframes ani-logomark {
  0%  { transform: translate(0,-5em); }
  20% { transform: translate(0,0); }
}

@keyframes ani-line-icon {
  0%    { stroke-dasharray: 0,100 }
  20%   { stroke-dasharray:0,100 }
  100%  { stroke-dasharray:100,0 }
}

@keyframes ani-event-name {
  0%    { transform: translate(-2em,0);   opacity:0; }
  60%   { transform: translate(-2em,0);   opacity:0; }
  100%  { transform: translate(0,0);      opacity:1; }
  100%  { transform: translate(0,0);      opacity:1; }
}

@keyframes ani-location {
  0%    { transform: translate(0,1em);  opacity:0 }
  80%   { transform: translate(0,1em);  opacity:0 }
  100%  { transform: translate(0,0);    opacity:1 }
}

.corner-shapes-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: auto;

  &:before {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  .corner-shape-pattern {
    margin-top: 0;
    height: 200%;
    width: 12.5%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: 0 50%;
    transform: translateY(-50%) rotate(45deg);

    svg {
      width: 100%;
      height: 100%;
      position: absolute;

      stroke-width: 0.5pt;
      stroke: lighten($color-rh-slate, 50%);
    }
  }

  .corner-shape-solid-triangle {
    background-color: lighten($color-rh-slate, 50%);
    height: 200%;
    width: 100%;
    position: absolute;
    left: 58.75%;
    top: 58.75%;
    transform-origin: 0 50%;
    transform: translateY(-50%) rotate(45deg);
  }

  .corner-shape-bottom-right-logo {
    position: absolute;
    right: 3em;
    bottom: 3em;
    width: 40%;
  }
}

@media all and (orientation: portrait) {
  #content { top: 50%; }

  .corner-shapes-bottom-right {
    width: 80%;
  }
}

@media all and (orientation: landscape) {
  #content.fy16-container {
    width: 75%;
    .headline, .sko-logo {
      float: left;
      width: 50%;
      margin: 0;
      box-sizing: border-box;
      padding: 1.5em;
    }
  }

  #content.event-logo-and-headline {
    width: 75%;
    .headline, .sko-logo {
      width: 50%;
      margin: 0;
      box-sizing: border-box;
      padding: 1em;
    }
    .sko-logo {
      float: right;
    }    
  }
}

