html, :root {
  font-size: 14pt;
}

#content {
  max-width: initial;
  left: 4em;
  right: 4em;
  top: 5em;
  transform: none;

  .sko-logo {
    width: 50%;
  }
}

// Agenda

$color-primary:     #08A8E5;
$color-shade:       #aaa;
$line-height:       1.5em;

.section-agenda {
  background: hsl(205,10%,90%);
  padding: 2em;
  display: none;

  h1, h2 { 
    display: inline-block;
    margin-bottom: 0;
  }

  h2 { color: $color-primary; }

  h1 { margin-right: 0.3em; }

  p { margin: 0; }

  .time {
    font-size: 2em;
    font-weight: 300;
  }
}

.agenda-content {
  column-count: 3;
  column-gap: 3em;
  column-fill: balance;

  .time-slot {
    break-inside: avoid-column;
    page-break-inside:avoid;
  }
}

[class*="track-"] {
  h6 {
    font-size: 1em;
    line-height: 1.5em;
    margin: 0.5em 0;
  }
}

.time-slot-header {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: thin solid $color-shade;

  .time,
  .duration {
    display: inline-block;
    vertical-align: baseline;
    margin-right: 0.5em;
  }

  .time {
    font-size: 1.5em;
    line-height: 1em;
  }
  .duration {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    color: lighten($color-shade, 5%);
  }
}

