@import '../../../../shared/stylesheets/main.scss';

// ## Colours

$color-primary:             #c12;
$color-primary-light:       lighten($color-primary, 30%);
$color-primary-dark:        darken($color-primary, 30%);

$color-shade:               #576065;

$color-secondary:           hsl(195,54%,55%);
$color-secondary-light:     lighten($color-secondary, 20%);

$black:                     hsl(0,0%,9%);
$white:                     lighten($black, 93.5%);
$gray-darker:               lighten($black, 13.5%);
$gray-dark:                 lighten($black, 20%);
$gray:                      lighten($black, 33.5%);
$gray-light:                lighten($black, 75%);
$gray-lighter:              lighten($black, 87.5%);

$color-success:             hsl(85, 60%, 52%);
$color-success-light:       lighten($color-success, 35%);
$color-warning:             hsl(45, 83%, 73%);
$color-warning-light:       lighten($color-warning, 35%);
$color-danger:              hsl(357, 88%, 63%);
$color-danger-light:        lighten($color-danger, 35%);
$color-info:                $color-primary;
$color-info-light:          lighten($color-info, 35%);

$color-background-overlay:  rgba($black, 0.7);

html, :root {
  font-size: 14pt;
}

#content {
  max-width: initial;
  width: initial;
  left: 4em;
  right: 4em;
  top: 5em;
  transform: none;
  height: 100%;

  .sko-logo {
    width: 50%;
  }
}

// Table

$default-border-color:    $gray-light;
$light-border-color:      $gray-lighter;

table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  margin: 0 0 $line-height;
  border: thin solid $default-border-color;

  caption, th, td {
    vertical-align: top;
    padding: $line-height;
  }

  caption {
    font-weight: 600;
    font-size: 0.8em;
    text-transform: uppercase;
  }

  th {
    font-weight: 600;
  }

  thead tr {
    background-color: $gray-lighter;

    &.no-wrap {
      th {
        vertical-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        line-height: $line-height + $line-height / 2;
      }
    }
  }

  tbody tr {
    border-top: thin solid $default-border-color;

    th {
      background-color: $gray-lighter;
      font-weight: 600;
    }

    &.no-wrap {
      td, th {
        vertical-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        line-height: $line-height + $line-height / 2;
      }
    }
  }

  tfoot {
    color: $gray;
    tr {
      border-top: thin solid $default-border-color;
    }
  }

  &.fixed {
    table-layout: fixed;
    box-sizing: border-box;
    * {
      box-sizing: border-box;
    }
  }
}

.section-agenda {
  background-color: lighten($color-rh-slate, 50%);

  .container {
    position: relative;
  }

  table,
  table thead tr,
  table tr:first-child {
    border: none;
  }

  table thead th, table tbody th {
    background-color: transparent;
  }
}

.calendar {
  background-color: rgba($color-rh-white, 0.5);
  table-layout: fixed;

  .time, .duration {
    width: 25%;
  }

  .time h2 {
    margin-bottom: 0;
  }

  .icon-user:before {
    color:lighten($color-shade,40%)
  }

  .break {
    background-image: linear-gradient(-45deg, #fafafa 25%, transparent 25%, transparent 50%, #fafafa 50%, #fafafa 75%, transparent 75%, transparent);
    background-size: 20px 20px;
    background-position: 0 0;
    color: lighten($color-shade, 5%);

    td {
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing:.1em;
    }

  }

  .room {
    display: block;
    float: right;
    padding: 0.5em .5em 0.25em;
    color: darken($color-rh-white, 30%);
    background-color: darken($color-rh-white, 2.5%);
    border: 2px solid darken($color-rh-white, 12.5%);
    line-height: 1.2em;
    max-width: 24em;
  }
}

.tracks {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-top: 0;
}

.event-item-content + .tracks {
  margin-top: 0.5em;
}

.tracks > div {
  display: table-row
}

.track {
  display: table-cell;
  padding-right: 1em;
  line-height: 1.2em;

  h5 { margin-bottom: 0; }
  h5 + p { margin-top: 0; }
}

@media screen and (max-width: 72em){
  .calendar td:nth-child(2) {
    margin-top: -1em !important;
  }
}

@media screen and (max-width: 40em) {
  .tracks, .tracks > div, .track { display:block; }
}

@media screen and (max-width: 42em) {
  .calendar tr{
    display:block;
    padding: $line-height/2 0;
    width: 100%;
  }

  .calendar td,
  .calendar th,
  .calendar tbody,
  .calendar {
    box-sizing: border-box;
    display: block;

    .duration{display:none}
    tr.headings{display:none;}

    .time{
      display:block;
      width: 100%;
      color:$color-shade;
      font-size:2em;
      font-weight:300;
      padding-left: .5em
    }

    .room {
      float: none;
      width: auto;
      max-width: initial;
      background-color: transparent;
      border: none;
      padding-left: 0;
      padding-right: 0;
      border-bottom: thin solid lighten($color-shade, 50%);
      margin-bottom: 0.25em;
    }
  }

  .calendar tr {
    position:relative;
  }

  .calendar {
    .topic {
      width: auto;
    }

    tr:after {
      content:"";
      display: block;
      width: 100% !important;
      float:none;
      clear:both;
    }

    i {
      color:$color-shade;
      opacity:.5
    }
  }
}

.time-table { display: none }

.red {
  color: $color-rh-white;

  .section-agenda {
    background: $color-rh-red;

    h2 { color: $color-rh-white; }
  }

  .time-slot-header {
    border-bottom: thin solid $color-rh-white;

    .duration {
      color: $color-rh-white;
    }
  }
}

.silver {
  .section-agenda {
    background: darken($color-rh-white, 2.5%);
  }
}

.background-image #content {
  color: #444;

  .brand {
    text-align: right;

    svg {
      display: inline-block;
    }
  }

  .section-agenda {
    color: #444;
    h1, h2 { color: #444; }
  }
}
