@import '../../../../shared/stylesheets/main.scss';
@import '../../../../shared/stylesheets/agenda.scss';

html, :root {
  font-size: 14pt;
}

body { color: $color-rh-slate; }

#content {
  max-width: initial;
  width: initial;
  left: 0;
  right: 0;
  top: auto;
  bottom: 0;
  height: 100%;
  transform: none;
  background-color: rgba(lighten($color-rh-slate, 50%), 0.6);
}

.header-content {
  position: relative;
  padding: 2em;
}

.section-agenda {
  padding: 4em 2.5em 5em;
}

.red {
  color: $color-rh-white;

  #content {
    background-color: transparent;

    .session-inner, .session-inner h3 { color: $color-rh-black; }
  }

  .section-agenda {
    background: transparent;

    h2 { color: $color-rh-white; }
  }

  .day-info h1 { border-top-color: white; }
}

.silver {
  color: lighten($color-rh-black, 33%);

  .section-agenda {
    background: transparent;
  }
}

@media all and (max-width: 303mm) {
  html, :root {
    font-size: 10pt;
  }
}

@media all and (max-width: 216mm) {
  html, :root {
    font-size: 7pt;
  }
  .agenda-smaller { font-size: 0.8em; line-height: 1.8em; }
}

@media all and (max-width: 8in) {
  html, :root {
    font-size: 6pt;
  }
  .agenda-smaller { font-size: 0.8em; line-height: 1.8em; }
}
