h1 {
  font-size: 2em;
  line-height: 2rem;
  margin: 0px;
  color: #a30000; }

h2 {
  font-size: 1em; }

h3 {
  font-size: 0.5em;
  line-height: 0.8rem;
  margin-bottom: 1em; }

.brand.sko {
  width: 8em;
  padding: 0.3em; }

.corner-shape {
  width: 8em;
  position: absolute;
  right: 0px;
  bottom: -0.5em; }
