h1 { 
  margin: 0; 
  color: #a30000;
}

h3 {
  font-size: 0.8em;
  margin-bottom: 1em;
}

.brand.sko {
  width: 15em;
  padding: 0.3em;
}

.corner-shape {
  width: 15em;
  position: absolute;
  right: 0px;
  bottom: -0.5em;
}
