---
width: 101.6mm
height: 152.4mm
---
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="//redhatbrand.github.io/RedHatTemplates/global-assets/stylesheets/general/tile-pattern-fill.css" />
    <link rel="stylesheet" href="<%=baseUrl%>/shared/stylesheets/main.css" />
    <link rel="stylesheet" href="<%=baseUrl%>/templates/attendee/lanyard/assets/main.css" />
    <style type="text/css">
      .panel {
        width: {{ width }}{{unit}};
        height: {{ height }}{{unit}};
      }
    </style>
  </head>
  <body
    style="width: {{ width }}{{unit}}; height: {{ height }}{{unit}}"
    class="{{artwork-option}} {{colormode}}">

    <main>
      <article id="first-panel" class="panel artwork-overlay">
        {{^ background-image }}
        <div class="js-artwork"></div>
        {{/ background-image }}

        <div class="panel-content">
          <header class="brand sko">
            {{#for-emea}}
            <% include ../../../shared/images/event-logo-lockup-emea.svg %>
            {{/for-emea}}
            {{^for-emea}}
            <% include ../../../shared/images/event-logo-lockup.svg %>
            {{/for-emea}}
          </header>
          <section>
            <p class="introduction">Hi, my name is</p>
            <h1>
              {{ firstname }}
            </h1>
            <h2>{{ lastname }}</h2>

            <p>I'm a <strong>{{ position }}</strong> with <strong>{{ company }}</strong></p>
          </section>
          <div id="map" class="rh-map"></div>
          <footer id="location">
            <p>
            <small>You can find me at <strong>{{ location }}, {{ location-country }}</strong></small>
            </p>
          </footer>
        </div>
      </article>

      <section class="section-agenda agenda-container" id="agenda">
        {{#days}}
        <div class="time-table time-table-unprocessed js-time-table">
          <div class="agenda-day-info js-agenda-day-info">
            <h1>{{day-name}}</h1>
            <h2>{{date}}</h2>
          </div>
          {{#sessions}}
          <div class="agenda-session js-session" data-group="{{ group }}" data-start="{{ start }}" data-end="{{ end }}">
            <div class="agenda-session-inner {{ type }}">
              <header class="session-header">
                {{#topic}}
                <h3 class="agenda-session-header-text">{{ topic }}</h3>
                {{/topic}}
                {{#speaker}}
                <h3 class="agenda-session-header-speaker">{{ speaker }}</h3>
                {{/speaker}}
              </header>
              <div class="agenda-session-content">
                {{#location}}
                <p class="agenda-session-content-location">{{ location }}</p>
                {{/location}}
                {{#group}}
                <p class="agenda-session-content-group">{{ group }}</p>
                {{/group}}
              </div>
            </div>
          </div>
          {{/sessions}}
        </div>
        <div class="region-break"></div>
        {{/days}}
      </section>
    </main>

    {{#artwork-complexity}}
    <script type="text/javascript">
      window.redhatArtComplexity = {{ artwork-complexity }};
    </script>
    {{/artwork-complexity}}

    {{^ background-image }}
    <script src="<%=baseUrl%>/shared/javascripts/artwork.js"></script>
    {{/ background-image }}

    <script src="//redhatbrand.github.io/RedHatPatterns/red-hat-patterns.js"></script>
    <script src="//redhatbrand.github.io/RedHatTemplates/global-assets/javascripts/vendor/jquery.js"></script>
    <script src='<%=baseUrl%>/shared/javascripts/vendor/leaflet.js'></script>
    <script src='<%=baseUrl%>/shared/javascripts/vendor/d3.v3.min.js'></script>
    <script src='<%=baseUrl%>/shared/javascripts/vendor/topojson.v1.min.js'></script>
    <script src='<%=baseUrl%>/shared/javascripts/vendor/d3-topojson.js'></script>

    <script>
      var mapSettings = {
        zoom: 10,
        address: '{{ location }}, {{ location-country }}'
      };
      var attendeeGroup = '{{ attendee-group }}';
    </script>
    <script src="<%=baseUrl%>/shared/javascripts/vendor/moment.js"></script>
    <script src="<%= baseUrl %>/templates/attendee/lanyard/assets/javascripts/main.js"></script>
    <script src="<%= baseUrl %>/templates/attendee/lanyard/assets/javascripts/agenda.js"></script>

    <script>
     var panels = '{{ number-of-panels }}';
     panels = parseInt(panels) || 1;

     while(panels--) {
       addPanel()
     }

     function addPanel () {
       var main = document.getElementsByTagName('main')[0];
       var article = document.createElement('article');
       var inner = document.createElement('section');

       article.classList.add('panel');
       inner.classList.add('panel-inner');
       article.appendChild(inner);
       inner.classList.add('destination');
       main.appendChild(article);
     }
    </script>
  </body>
</html>

