:root, html {
  font-size: 9pt; }

@media (min-height: 150mm) and (min-width: 150mm) {
  :root, html {
    font-size: 12pt; }
 }

@media (min-height: 200mm) and (min-width: 200mm) {
  :root, html {
    font-size: 24pt; }
 }

.brand.sko {
  width: 66.667%; }

.corner-shapes-bottom-right .corner-shape-bottom-right-logo {
  right: 2em;
  bottom: 2em; }

.brand .one-half {
  float: left;
  margin: 0;
  width: 50%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1.5em; }
.brand .one-half:first-child {
  border-right: thin solid white;
  text-align: right; }
.brand .one-half:first-child svg {
  width: 75%; }

#content.brand {
  width: 75%; }
  #content.brand .one-half {
    height: 100%; }
    #content.brand .one-half svg {
      width: 100%;
      height: 100%; }
  #content.brand.one-logo {
    width: 50%; }

@media all and (orientation: portrait) {
  #content {
    width: initial; }

  .corner-shapes-bottom-right {
    width: 80%; }
 }
