body {
  margin: 3mm auto; }

#artwork {
  overflow: visible; }

h1 {
  font-size: 5em;
  line-height: 5rem; }

.brand .one-half {
  float: left;
  margin: 0; }
.brand .one-half:first-child {
  width: 55%; }
.brand .one-half:last-child {
  width: 45%; }
