#content {
  left: 2em;
  right: 2em;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  max-width: initial; }

.section-agenda {
  background: rgba(255, 255, 255, 0.5); }
  .section-agenda .container {
    position: relative;
    padding: 1.5em;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .section-agenda table, .section-agenda table thead tr, .section-agenda table tr:first-child {
    border: none; }
  .section-agenda table tr {
    border-color: #ddd; }
  .section-agenda table td {
    vertical-align: middle; }
  .section-agenda table thead th, .section-agenda table tbody th {
    background-color: transparent; }
  .section-agenda h1, .section-agenda h2 {
    display: inline-block;
    margin-bottom: 0; }
  .section-agenda h1 {
    margin-right: 0.3em; }
  .section-agenda h2 {
    font-size: 24px;
    color: #08A8E5; }
  .section-agenda h3 {
    text-transform: none;
    font-size: 24px;
    margin: 0; }
  .section-agenda p {
    margin: 0; }
  .section-agenda .time {
    color: #aaa;
    font-size: 2em;
    font-weight: 300; }
