---
width: 426mm;
height: 603mm;
---

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="//redhatbrand.github.io/RedHatTemplates/global-assets/stylesheets/general/tile-pattern-fill.css" />
    <link rel="stylesheet" href="<%=baseUrl%>/shared/stylesheets/main.css" />
    <link rel="stylesheet" href="<%=baseUrl%>/templates/agenda-board/assets/stylesheets/main.css" />
    <style type="text/css">
      {{# background-image }}
        .background-image main {
          background-image:
            url('<%=baseUrl%>/shared/images/grid-06-06.svg'),
            url('{{{ background-image }}}');

          background-repeat: no-repeat;
          background-blend-mode: multiply;
          background-size: cover;
          background-position: center center;

          color: white;
        }

        .logotext { fill: white; }
        h2, .time { color: #444 !important; }
      {{/ background-image }}
    </style>
  </head>
  <body
    class="{{#background-image}}background-image{{/background-image}} {{artwork-option}} {{colormode}}"
    style="width: {{ width }}{{unit}}; height: {{ height }}{{unit}}">

    {{^ background-image }}
    <div id="artwork"></div>
    {{/ background-image }}

    <main>
      <article id="content">
        <div class="brand sko">
          <% include ../../shared/images/event-logo-lockup.svg %>
        </div>

        <section class="section-agenda">
          {{#days}}
          <div class='time-table time-table-{{ day-name }}'>
            <table class="calendar">
              <tr class="headings">
                <th class="time">Timing</th>
                <th class="topic">Topic</th>
              </tr>
              {{#sessions}}
              {{#time}}
              <tr class="{{ type }}">
                <td class="time">
                  <h2>{{start}}</h2>  <span>{{#duration}}{{duration}}{{/duration}}</span>
                </td>


                <td class="event-item">
                  {{#location}}
                    <span class="room">{{location}}</span>
                  {{/location}}

                  {{#topic}}
                  <p class="event-item-content">
                    <b class="topic">{{topic}}</b>&nbsp;
                    {{#speaker}}<span class="speaker">{{speaker}}</span>{{/speaker}}
                  </p>
                  {{/topic}}

                  <div class="tracks">
                    <div>
                      {{#track-a}}
                      <div class="track track-a">
                        <h5>{{track-a}}</h5>
                        <p>{{track-a-content}}</p>
                      </div>
                      {{/track-a}}

                      {{#track-b}}
                      <div class="track track-b">
                        <h5>{{track-b}}</h5>
                        <p>{{track-b-content}}</p>
                      </div>
                      {{/track-b}}

                      {{#track-c}}
                      <div class="track track-c">
                        <h5>{{track-c}}</h5>
                        <p>{{track-c-content}}</p>
                      </div>
                      {{/track-c}}

                      {{#track-d}}
                      <div class="track track-d">
                        <h5>{{track-d}}</h5>
                        <p>{{track-d-content}}</p>
                      </div>
                      {{/track-d}}

                      {{#track-e}}
                      <div class="track track-e">
                        <h5>{{track-e}}</h5>
                        <p>{{track-e-content}}</p>
                      </div>
                      {{/track-e}}
                    </div>
                  </div>
                </td>
              </tr>
              {{/time}}
              {{/sessions}}
            </table>
          </div>
          {{/days}}
        </section>
      </article>
    </main>

    {{#artwork-complexity}}
    <script type="text/javascript">
      window.redhatArtComplexity = {{ artwork-complexity }};
    </script>
    {{/artwork-complexity}}

    {{^ background-image }}
    <script src="<%=baseUrl%>/shared/javascripts/artwork.js"></script>
    {{/ background-image }}

    <script src="//redhatbrand.github.io/RedHatPatterns/red-hat-patterns.js"></script>

    {{#selected-day}}
    <script type="text/javascript">
      window.redhatSelectedDay = {{ selected-day}};
    </script>
    {{/selected-day}}
    <script src="<%=baseUrl%>/templates/agenda-board/assets/javascripts/main.js"></script>
  </body>
</html>
