---
width: calc(300mm + 6mm);
height: calc(300mm + 6mm);
---

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="//redhatbrand.github.io/RedHatTemplates/global-assets/stylesheets/general/tile-pattern-fill.css">
    <link rel="stylesheet" href="<%=baseUrl%>/shared/stylesheets/main.css" />
    <link rel="stylesheet" href="<%=baseUrl%>/templates/generic-resizeable-print/assets/stylesheets/main.css" />
    <style>
      {{# background-image }}
        main {
          background-image: 
            url('<%=baseUrl%>/shared/images/grid-06-06.svg'),
            url('{{{ background-image }}}');

          background-repeat: no-repeat;
          background-blend-mode: multiply;
          background-size: 105% auto, cover;
          background-position: center center, center center;
          
          color: white;
        }
      
        .logotext { fill: white; }
      {{/ background-image }} 
    </style>
  </head>
  <body style="width: {{ width }}mm; height: {{ height }}mm">
    <div id="artwork"></div>
    <main>
      <div id="content">
        <div class="brand"> 
          <% include ../../shared/images/event-logo-lockup.svg %>
        </div>
        <div class="headline">
          <h1 class="">{{{ headline }}}</h1>
        </div>
      </div>
    </main>
    <!-- Doesn't seem to work if the jquery lib is not loaded first !-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="<%=baseUrl%>/shared/javascripts/jquery.splitlines.js"></script>
    <script src="<%=baseUrl%>/shared/javascripts/artwork.js"></script>
    <script src="//redhatbrand.github.io/RedHatPatterns/red-hat-patterns.js"></script>
    <script>
      $('.data-lining').splitLines({
          tag: '<span class="line">',
          width: 200,
          keepHtml: true
      });
    </script>
  </body>
</html>
