html, :root {
  font-size: 54pt;
  line-height: 1.25em;
}

#content {
  min-width: 75%;
}

.brand.sko {
  width: 50%;
  margin: 2em;
}

h1 {
  font-size: 6rem;
  line-height: 6rem;
  margin: 0;
}

main { text-align: center; }

.corner-shapes-bottom-right .corner-shape-bottom-right-logo {
  right: 2em;
  bottom: 2em;
}
