article h1 {
  font-size: 5em;
  line-height: 3rem; }
article h2 {
  font-weight: 700; }

.brand {
  width: 20em; }
  .brand.redhat {
    width: 15em;
    margin-top: 2.3em;
    -webkit-transform: translate(325%, 0px);
    -ms-transform: translate(325%, 0px);
    transform: translate(325%, 0px); }

.corner-shape {
  width: 20em;
  position: absolute;
  right: 0px;
  bottom: -0.5em; }
