#content {
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 66.667%;
  padding: 2em; }

.container_fy16-and-headline-and-event-logo .event-logo-container, .container_fy16-and-headline-and-event-logo .headline-container {
  padding: 1.5em; }

.container_fy16-and-headline-and-event-logo .headline-container {
  width: 40%; }

.container_fy16-and-headline-and-event-logo .event-logo-container {
  width: 60%; }

.corner-shapes-bottom-right {
  width: 40%; }
