:root, html {
  font-size: 6pt;
}

#content {
  left: 2em;
  right: 2em;
  top: 2.5em;
  transform: none;
}

.corner-shapes-bottom-right {
  width: 100%; 
}

.corner-shapes-bottom-right .corner-shape-bottom-right-logo {
  right: 2em;
  bottom: 2em;
}

.corner-shapes-bottom-right .corner-shape-pattern svg {
  stroke-width: 0.2pt;
}

