:root, html {
  font-size: 10pt;
}

.brand.sko {
  width: 66.667%;
}

#content {
  left: 4.5em;
  top: 4.5em;
  right: 25%;
  transform: none;
}

.corner-shapes-bottom-right {
  width: 50%; 
}

.corner-shapes-bottom-right .corner-shape-bottom-right-logo {
  right: 2em;
  bottom: 2em;
}
