---
width: calc(100vw - 2em);
height: calc(100vh - 2em);
---

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="//redhatbrand.github.io/RedHatTemplates/global-assets/stylesheets/general/tile-pattern-fill.css">
    <link rel="stylesheet" href="<%=baseUrl%>/shared/stylesheets/main.css" />
    <link rel="stylesheet" href="<%=baseUrl%>/templates/registration-board/assets/stylesheets/main.css" />
    <style>
      {{# background-image }}
        main {
          background-image: 
            url('<%=baseUrl%>/shared/images/grid-06-06.svg'),
            url('{{{ background-image }}}');

          background-repeat: no-repeat;
          background-blend-mode: multiply;
          background-size: 100% auto, cover;
          background-position: center center, center center;
          
          color: white;
        }
      
        .logotext { fill: white; }
      {{/ background-image }} 
    </style>
  </head>
  <body style="width: {{ width }}vw; height: {{ height }}vh">
    <div id="artwork"></div>
    <main>
      <div class="brand bottom">
        <% include ../../shared/images/event-logo-lockup.svg %>
      </div>
      <div id="content">
        <article>
          <h2>{{ text }}</h2>
          <h1>{{ letter-range }}</h1>
        </article>
      </div>
    </main>

    <script src="<%=baseUrl%>/shared/javascripts/artwork.js"></script>
    <script src="//redhatbrand.github.io/RedHatPatterns/red-hat-patterns.js"></script>
  </body>
</html>
