---
width: calc(100vw - 2em);
height: calc(100vh - 2em);
---

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="//redhatbrand.github.io/RedHatTemplates/global-assets/stylesheets/general/tile-pattern-fill.css">
    <link rel="stylesheet" href="<%=baseUrl%>/shared/stylesheets/main.css" />
    <link rel="stylesheet" href="<%=baseUrl%>/templates/wayfinding/assets/stylesheets/main.css" />
    
    <style>
      main {
        background-image: url(<%=baseUrl%>/templates/wayfinding/assets/images/arrow-right.svg);
        background-blend-mode: multiply;
        background-repeat: no-repeat;
      }
    </style>
  </head> 
  <body style="width: {{ width }}vw; height: {{ height }}vh"> 
    <div id="artwork"></div>
    <main>
      <div id="content">
        <div class="headline">
          <h1 class="">{{{ direction }}}</h1>
        </div>
      </div>
      <div class="brand bottom">
        <% include ../../shared/images/event-logo-lockup.svg %>
      </div>
    </main>
    <script src="<%=baseUrl%>/shared/javascripts/artwork.js"></script>
    <script src="//redhatbrand.github.io/RedHatPatterns/red-hat-patterns.js"></script>
  </body>
</html>
