---
width: 900px
height: 240px
---

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="//redhatbrand.github.io/RedHatTemplates/global-assets/stylesheets/general/tile-pattern-fill.css" />
    <link rel="stylesheet" href="<%=baseUrl%>/shared/stylesheets/main.css" />
    <link rel="stylesheet" href="<%=baseUrl%>/templates/email-header/assets/stylesheets/main.css" />
    <style type="text/css">
      {{# background-image }}
        .background-image main {
          background-image:
            url('<%=baseUrl%>/shared/images/grid-06-06.svg'),
            url('{{{ background-image }}}');

          background-repeat: no-repeat;
          background-blend-mode: multiply;
          background-size: 200% auto, cover;
          background-position: 100% 50%, center center;
          color: white;
        }

        .logotext { fill: white; }
      {{/ background-image }}
    </style>
  </head>

  <body
    style="width: {{width}}px; height: {{ height }}px"
    class="{{#background-image}}background-image{{/background-image}} {{artwork-option}} {{colormode}}">

    {{^ background-image }}
    <div id="artwork"></div>
    {{/ background-image }}

    <main>
      <div id="content" class="logo-only">
        <div class="event-logo-container">
          {{#for-emea}}
          <% include ../../shared/images/event-logo-lockup-emea.svg %>
          {{/for-emea}}
          {{^for-emea}}
          <% include ../../shared/images/event-logo-lockup.svg %>
          {{/for-emea}}
        </div>
      </div>
    </main>

    {{#artwork-complexity}}
    <script type="text/javascript">
      window.redhatArtComplexity = {{ artwork-complexity }};
    </script>
    {{/artwork-complexity}}

    {{^ background-image }}
    <script src="<%=baseUrl%>/shared/javascripts/artwork.js"></script>
    {{/ background-image }}

    <script src="//redhatbrand.github.io/RedHatPatterns/red-hat-patterns.js"></script>
  </body>
</html>
