article {
  h1 {
    font-size: 5em;
    line-height: 3rem;
  }
  h2 { font-weight: 700;}
}

.brand {
  width: 20em;
  
  &.redhat {
    width: 15em;
    margin-top: 2.3em;
    transform: translate(325%, 0px);
  }
}

.corner-shape {
  width: 20em;
  position: absolute;
  right: 0px;
  bottom: -0.5em;
}
