.section-agenda {
  .container {
    position: relative;
  }

  table,
  table thead tr,
  table tr:first-child {
    border: none;
  }

  table thead th, table tbody th {
    background-color: transparent;
  }
}

.calendar {
  table-layout: fixed;

  .time, .duration {
    width: 25%;
  }

  .icon-user:before {
    color:lighten($color-shade,40%)
  }

  .break {
    background-image: linear-gradient(-45deg, #fafafa 25%, transparent 25%, transparent 50%, #fafafa 50%, #fafafa 75%, transparent 75%, transparent);
    background-size: 20px 20px;
    background-position: 0 0;
    color: lighten($color-shade, 5%);

    td {
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing:.1em;
    }

  }

  .room {
    display: block;
    float: right;
    padding: 0.5em .5em 0.25em;
    color: darken($color-rh-white, 30%);
    background-color: darken($color-rh-white, 2.5%);
    border: 2px solid darken($color-rh-white, 12.5%);
    line-height: 1.2em;
    max-width: 24em;
  }
}

.tracks {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-top: 0.5em;
}

.tracks > div {
  display: table-row
}

.track {
  display: table-cell;
  padding-right: 1em;
  line-height: 1.2em;
}

@media screen and (max-width: 72em){
  .calendar td:nth-child(2) {
    margin-top: -1em !important;
  }
}

@media screen and (max-width: 40em) {
  .tracks, .tracks > div, .track { display:block; }
}

@media screen and (max-width: 42em) {
  .calendar tr{
    display:block;
    padding: $line-height/2 0;
    width: 100%;
  }

  .calendar td,
  .calendar th,
  .calendar tbody,
  .calendar {
    box-sizing: border-box;
    display: block;

    .duration{display:none}
    tr.headings{display:none;}

    .time{
      display:block;
      width: 100%;
      color:$color-shade;
      font-size:2em;
      font-weight:300;
      padding-left: .5em
    }

    .room {
      float: none;
      width: auto;
      max-width: initial;
      background-color: transparent;
      border: none;
      padding-left: 0;
      padding-right: 0;
      border-bottom: thin solid lighten($color-shade, 50%);
      margin-bottom: 0.25em;
    }
  }

  .calendar tr {
    position:relative;
  }

  .calendar {
    .topic {
      width: auto;
    }

    tr:after {
      content:"";
      display: block;
      width: 100% !important;
      float:none;
      clear:both;
    }

    i {
      color:$color-shade;
      opacity:.5
    }
  }
}

.section-agenda input[type="radio"]{
  position:absolute;
  top:-100%;
  left: -100%;
  visibility: hidden;
  z-index:-1;
  opacity:0;
}


.time-table-0,
.time-table-1,
.time-table-2,
.time-table-3,
.time-table-4,
.time-table-5,
.time-table-6 {
  display:none;
}

input#day-0:checked ~ .time-table-0,
input#day-1:checked ~ .time-table-1,
input#day-2:checked ~ .time-table-2,
input#day-3:checked ~ .time-table-3,
input#day-4:checked ~ .time-table-4,
input#day-5:checked ~ .time-table-5,
input#day-6:checked ~ .time-table-6 {
  display:block;
}

.section-agenda input[type="radio"] + label {
  box-shadow: inset 0 -.2em 0 $color-primary;
  color: $color-primary;
  display: block;
  padding: $line-height 0em;
  letter-spacing:.1em;
  margin: 0;
  margin-bottom: $line-height;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
  margin-right: -0.25em;
}

.section-agenda.agenda-1 input[type="radio"] + label {
  width: 100%;
}
.section-agenda.agenda-2 input[type="radio"] + label {
  width: 50%;
}
.section-agenda.agenda-3 input[type="radio"] + label {
  width: 33.333%;
}
.section-agenda.agenda-4 input[type="radio"] + label {
  width: 25%;
}
.section-agenda.agenda-5 input[type="radio"] + label {
  width: 20%;
}
.section-agenda.agenda-6 input[type="radio"] + label {
  width: 16.667%;
}

input#day-0:checked ~ label[for="day-0"],
input#day-1:checked ~ label[for="day-1"],
input#day-2:checked ~ label[for="day-2"],
input#day-3:checked ~ label[for="day-3"],
input#day-4:checked ~ label[for="day-4"],
input#day-5:checked ~ label[for="day-5"],
input#day-6:checked ~ label[for="day-6"] {
  background-color: $color-primary;
  color: white;
}
