:root, html {
  font-size: 10pt;
}

#content {
  left: 2em;
  right: 2em;
  top: 2.5em;
  transform: none;
  width: initial;
}

h1 {
  font-size: 3.5rem;
  line-height: 3.5rem;
}

.brand svg { width: 66.667%; }

.corner-shapes-bottom-right .corner-shape-pattern svg {
  stroke-width: 0.2pt;
}

@media (orientation: portrait) {
  .corner-shapes-bottom-right {
    width: 85.5%;
  }
}
