@import '../../../../shared/stylesheets/vendor/leaflet';
@import '../../../../shared/stylesheets/main';

$color-primary: #c12;

:root, html {
  font-size: 12pt;
}

#content {
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  transform: none;
  width: initial;
  max-width: initial;
  display: flex;
  flex-flow: column nowrap;

  h1 { margin: 0; margin-left: -0.06em; }
  h2 { margin: 0; margin-left: -0.05em; }

  .introduction {
    line-height: 1em;
    margin-bottom: 0.75em;
  }

  .brand {
    flex: 0 0 auto;
    padding: 2.5em 2em 1.5em;
    margin: 0;
  }
  article {
    flex: 0 0 auto;
    padding: 2em;
    margin: 0;
  }
  #map {
    flex: 1 1 auto;
    height: auto;
    margin: 0;
  }
  #location {
    flex: 0 0 auto;
    padding: 1.5em 2em 1.5em;
    margin: 0;
  }
}



h1 {
  font-size: 3.5rem;
  line-height: 3.5rem;
}

.brand svg { width: 66.667%; }

.corner-shapes-bottom-right .corner-shape-pattern svg {
  stroke-width: 0.2pt;
}

.background-image #content .brand {
  text-align: left;
}

@media (orientation: portrait) {
  .corner-shapes-bottom-right {
    width: 85.5%;
  }
}

#map {
  height: 8em;
  background-color: $color-rh-slate;
  margin: 0;
  width: 100%;

  .leaflet-overlay-pane {
    opacity: 0.6;
  }

  path.road {
    stroke: lighten($color-rh-slate, 25%);
    fill: none;
  }
  path.water {
    stroke: lighten($color-rh-slate, 50%);
    fill: lighten($color-rh-slate, 50%);
  }
}

#content article {
  background-color: rgba(lighten($color-rh-slate, 50%), 0.6);
}

#location {
  line-height: 1em;
  background-color: rgba(lighten($color-rh-slate, 50%), 0.8);

  p { margin: 0; }
}

.marker-icon > div {
  padding-left: 100%;
}

.marker-icon:before {
  content: '';
  width: 2em;
  height: 2em;
  background-color: $color-rh-blue;
  border: 0.25em solid lighten($color-rh-slate, 50%);
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
}
